body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
   background-image: url("images/image16.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}

h1{
    background-image: url("images/image15.jpg");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
}

img{
    width: 80vw;
    height: 80vh;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
}

.gallery-item {
    overflow: hidden;
    cursor: pointer;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    border: 2px black solid;
    transition: transform 0.3s;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    display: flex;
}

.slide {
    display: none;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
